@page "/agreements"
<PageTitle>Agreements  </PageTitle>
  <div id="agreements-list-container" class="generic-content-outter container-type-size">
        <div class="page-heading page-heading_full-width page-heading_has-translation">
                <div class="h2">
                    Agreements
                </div>
            <div class="display-flex align-items-center ml-auto mr6">
                <div class="mr6">
                    <label>Show archived</label>
                </div>
                
<div>
    <input type="checkbox" value="false" name="showArchived" class="switch s-switch" id="showArchived" data-on-handler="" data-off-handler="">
    <label for="showArchived"> </label>
</div>

            </div>
                <div class="s-bulk-update mr10 bulk-update-actions">
                    <div class="md-dd">
                        <a href="javascript:;" class="md-dd-icon btn s-md-dd-tgl btn-bulk">
                            <span class="btn-text ">Bulk actions</span>
                            <svg class="icon-bg icon-ic-arrow-dropdown-solid"><use xlink:href="#icon-ic-arrow-dropdown-solid"></use></svg>
                        </a>
                        <div class="md-dd-c s-ignore mod-form bulk-update">
                            <div class="bulk-options">
                                    <a id="bulkArchive" href="javascript:;" class="disabled" data-tooltip="title" data-tooltip-pos="left" data-tooltip-title="Select agreements to bulk update status" title="Select agreements to bulk update status">Archive</a>

                                    <a id="bulkDelete" href="javascript:;" class="red disabled" data-tooltip="title" data-tooltip-pos="left" data-tooltip-title="Select templates from the table to bulk delete" title="Select templates from the table to bulk delete">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        
        <div class="cp-paper fixed-table-container-height s-spinner-container">
            



<div id="eviivo-list-agreement_wrapper" class="dataTables_wrapper no-footer"><div class="cp-table_toolbar"><div id="eviivo-list-agreement_filter" class="dataTables_filter"><label></label></div><div class="cp-table_toolbar-actions"></div></div><div class="cp-table_scroll-vertical cp-table_scroll-horizontal"><table id="eviivo-list-agreement" class="cp-table cp-table_fixed-header dataTable no-footer" cellspacing="0" width="100%" style="">
    <thead>
    <tr><th class="cp-table_checkbox-col cp-table_text-center cp-table_sticky-column sorting_disabled" rowspan="1" colspan="1" aria-label="
                
                    
                    
                        
                    
                
            ">
                <div class="cp-custom-input">
                    <input type="checkbox" id="agreement-target-select-all" class="target-select-all">
                    <label for="agreement-target-select-all">
                        <span class="checkbox-input"></span>
                    </label>
                </div>
            </th><th class="filter-enabled align-bottom fluid sorting" data-key="AgreementDisplayName" tabindex="0" aria-controls="eviivo-list-agreement" rowspan="1" colspan="1" aria-label="Agreement Name: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">Agreement Name</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-agreement-search-1" name="eviivo-list-agreement-search-1">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-1">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-1 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-1 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-1" data-columnindex="1" id=""></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="filter-enabled align-bottom sorting" data-key="SignatureFirstName" tabindex="0" aria-controls="eviivo-list-agreement" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">First Name</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-agreement-search-2" name="eviivo-list-agreement-search-2">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-2">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-2 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-2 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-2" data-columnindex="2" id=""></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="filter-enabled align-bottom sorting" data-key="SignatureSurname" tabindex="0" aria-controls="eviivo-list-agreement" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">Last Name</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-agreement-search-3" name="eviivo-list-agreement-search-3">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-3">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-3 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-3 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-3" data-columnindex="3" id=""></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="filter-enabled align-bottom sorting" data-key="OrderReference" tabindex="0" aria-controls="eviivo-list-agreement" rowspan="1" colspan="1" aria-label="Order Reference: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">Order Reference</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-agreement-search-4" name="eviivo-list-agreement-search-4">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-4">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-4 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-4 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-4" data-columnindex="4" id=""></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="filter-enabled align-bottom sorting" data-key="OrderCheckInPropertyDate" tabindex="0" aria-controls="eviivo-list-agreement" rowspan="1" colspan="1" aria-label="Check-in: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">Check-in</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-agreement-search-5" name="eviivo-list-agreement-search-5">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-5">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-5 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-5 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-5" data-columnindex="5" id=""></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="filter-enabled align-bottom sorting" data-key="AgreementSentPropertyDateTime" tabindex="0" aria-controls="eviivo-list-agreement" rowspan="1" colspan="1" aria-label="Sent Date: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">Sent Date</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-agreement-search-6" name="eviivo-list-agreement-search-6">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-6">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-6 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-6 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-6" data-columnindex="6" id=""></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="filter-enabled align-bottom sorting" data-key="SignaturePropertyDateTime" tabindex="0" aria-controls="eviivo-list-agreement" rowspan="1" colspan="1" aria-label="Signed On: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">Signed On</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-agreement-search-7" name="eviivo-list-agreement-search-7">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-7">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-7 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-7 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-7" data-columnindex="7" id=""></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="filter-enabled align-bottom sorting" data-key="Status" tabindex="0" aria-controls="eviivo-list-agreement" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">Status</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-agreement-search-8" name="eviivo-list-agreement-search-8">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-8">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-8 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-8 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-8" data-columnindex="8" id=""></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/agreements#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="cp-table_text-right cp-table_sticky-column-right actions-3-left sorting_disabled" rowspan="1" colspan="1" aria-label=""></th></tr>
    </thead>
    <tbody><tr class="odd"><td valign="top" colspan="10" class="dataTables_empty">No data available in table</td></tr></tbody>
</table></div><div class="cp-table_footer"><div class="dataTables_length" id="eviivo-list-agreement_length" style="display: none;"><label>Show <select name="eviivo-list-agreement_length" aria-controls="eviivo-list-agreement" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="250">250</option><option value="500">500</option></select> entries</label></div><div class="dataTables_paginate paging_simple_numbers" id="eviivo-list-agreement_paginate" style="display: none;"><a class="paginate_button previous disabled" aria-controls="eviivo-list-agreement" data-dt-idx="0" tabindex="-1" id="eviivo-list-agreement_previous">Previous</a><span></span><a class="paginate_button next disabled" aria-controls="eviivo-list-agreement" data-dt-idx="1" tabindex="-1" id="eviivo-list-agreement_next">Next</a></div></div></div>
 

        
                        </div>        
    </div>

@code {

}
