@page "/"

<PageTitle>Diary</PageTitle>
<div class="header-bottom">
    <div class="mod-toolbar calendar-single">
        <div class="mod-toolbar_section">
            <div class="prop-filter-cont">
                <div id="selectRoomTypesContainer" class="md-dd">
                    <a href="javascript:;" class="md-dd-icon s-md-dd-tgl btn-base-hover" id="btnSelectRoomTypes">
                        <span>Studio Type</span>
                        <svg class="icon-bg icon-ic-arrow-dropdown-solid">
                            <use href="#icon-ic-arrow-dropdown-solid"></use>
                        </svg>
                    </a>
                    <div class="md-dd-c md-dd-c-l md-dd-c-s-l s-ignore s-fltr-cntnr"></div>
                </div>
            </div>
        </div>
        <div class="cp-diary-view-switch s-grid-views">
            <button id="btnStandard" class="cp-diary-view-switch_button cp-diary-view_standard" data-diary_view="standard">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26 4H6C5.44772 4 5 4.26863 5 4.6V9.4C5 9.73137 5.44772 10 6 10H26C26.5523 10 27 9.73137 27 9.4V4.6C27 4.26863 26.5523 4 26 4Z" fill="var(--grid-icon-fill)" />
                    <path d="M26 13H6C5.44772 13 5 13.2686 5 13.6V18.4C5 18.7314 5.44772 19 6 19H26C26.5523 19 27 18.7314 27 18.4V13.6C27 13.2686 26.5523 13 26 13Z" fill="var(--grid-icon-fill)" />
                    <path d="M26 22H6C5.44772 22 5 22.2686 5 22.6V27.4C5 27.7314 5.44772 28 6 28H26C26.5523 28 27 27.7314 27 27.4V22.6C27 22.2686 26.5523 22 26 22Z" fill="var(--grid-icon-fill)" />
                </svg>
            </button>
        </div>
        <div class="mod-toolbar_section mod-toolbar_section__end">
            <button id="btnAddBooking" class="cp-button cp-button_primary">
                <span>Book</span>
            </button>
            <button id="btnDiarySettings" class="cp-button ml-8">
                <svg class="icon-ic-gear">
                    <use xlink:href="#icon-ic-gear"></use>
                </svg>
            </button>
        </div>
    </div>
    <span class="right hide">
        <span id="noticeBoardNotification" class="popup-notice notice selectable">
            <span class="popup-notice-inner icon-info icon-warning-message">
                <input id="noticeBoardContent" name="noticeBoardContent" type="hidden" value="" />
                <span id="noticeBoardNotificationMessage" class="pr25"></span>
                <a id="iconCloseNoticeBoardNotification" href="javascript:;" class="icon icon-close">Close</a>
            </span>
        </span>
    </span>
</div>

<section class="diary-container  ">
    <aside class="cp-diary-sidebar">
        <div class="rooms-open-content-box">
            <div class="cp-date-controls">
                <button id="diary-back-back-button" class="back cp-date-controls_btn ">
                    <svg class="icon-ic-caret-double-left">
                        <use href="#icon-ic-caret-double-left"></use>
                    </svg>
                </button>
                <button id="diary-back-button" class="back cp-date-controls_btn ">
                    <svg class="icon-ic-caret-left">
                        <use href="#icon-ic-caret-left"></use>
                    </svg>
                </button>
                <span class="cp-date-controls_date">
                    <input id="diary-datepicker-mask" class="hasDatepicker" type="text" readonly="readonly" style="position: relative; z-index: 50;" />
                    <input id="diary-datepicker" class="s-datepicker cp-date-controls_hidden-input" type="text" readonly="readonly" />
                </span>
                <button id="diary-go-today-button" class="gotoday cp-date-controls_btn cp-date-controls_calendar-icon" data-tip="Go to Today">
                    <svg class="icon-ic-calendar-check">
                        <use xlink:href="#icon-ic-calendar-check"></use>
                    </svg>
                </button>
                <button id="diary-forward-button" class="forward cp-date-controls_btn ">
                    <svg class="icon-ic-caret-right">
                        <use href="#icon-ic-caret-right"></use>
                    </svg>
                </button>
                <button id="diary-forward-forward-button" class="forward cp-date-controls_btn ">
                    <svg class="icon-ic-caret-double-right">
                        <use href="#icon-ic-caret-double-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <ul id="s-rooms-list" class="cp-diary-sidebar-list " style="visibility: hidden">
            <li class="p-row">&nbsp;</li>
            <li class="r-row">&nbsp;</li>
        </ul>
        <ul id="fake-rooms-list" class="cp-diary-sidebar-list" style="visibility: hidden">
            <li class="p-row">&nbsp;</li>
            <li class="r-row">&nbsp;</li>
        </ul>
    </aside>
    <div class="cp-diary-bookings-grid">
        <table id="diary" class="dia-tbl">
            <thead id="grid-header" class="dia-tbl_hdr">
                <tr style="visibility: hidden" class="dia-tbl_row">
                    <th class="dia-tbl_hdg"></th>
                </tr>
            </thead>
            <tbody id="grid-body" class="dia-tbl_bd" style="visibility: hidden">
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


