 
@page "/bookingcutoff"
<PageTitle>booking-cutoff  </PageTitle>

<div class="page-heading page-heading_centered page-heading_has-translation">
    <div class="h2">
        Booking cut-off
    </div>
</div>

<div class="cp-paper l-centered mb70">
    



<div id="eviivo-list-cutoff_wrapper" class="dataTables_wrapper no-footer"><div class="cp-table_toolbar"><div id="eviivo-list-cutoff_filter" class="dataTables_filter"><label></label></div><div class="cp-table_toolbar-actions"></div></div><table id="eviivo-list-cutoff" class="cp-table dataTable no-footer" cellspacing="0" width="100%" style="">
    <thead>
    <tr><th class="filter-enabled desc" data-key="Description" tabindex="0" aria-controls="eviivo-list-cutoff" rowspan="1" colspan="1" aria-label="Booking cut-off: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">Booking cut-off</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container hide">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-cutoff-search-0" name="eviivo-list-cutoff-search-0">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-0">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-0 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-0 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-0" data-columnindex="0" id="">
                    
                    <li class="mb4" data-order="0">
                        <div class="cp-custom-input">
                            <input type="checkbox" id="None_0_0" data-value="None" name="filter-0" value="None">
                            <label for="None_0_0">
                                <span class="checkbox-input"></span>
                                <span class="label wrap_text s-label">None</span>
                            </label>
                        </div>
                    </li></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/businesscutoff#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/businesscutoff#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="filter-enabled status" data-key="Status" tabindex="0" aria-controls="eviivo-list-cutoff" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending"><div class="cp-table_filterable-header">
                <span class="s-sorting cp-table_title">Status</span>
                <div class="md-dd filter-outer">
                   <a href="javascript:;" class="th-filter s-md-dd-tgl s-drag-false">
		                <svg class="icon icon-ic-filter"><use xlink:href="#icon-ic-filter"></use></svg>
	                </a>
                   <div class="md-dd-c md-dd-c-s-l s-ignore filter-inner">
                      <div class="mod-user-section user-details align-center">
                         <div class="dropdown-header s-search-input-container hide">
                            <div class="cp-search-bar">
                               <input type="text" class="stretch-input" id="eviivo-list-cutoff-search-1" name="eviivo-list-cutoff-search-1">
                               <a href="javascript:;" class="icon-bg-ic-close-a hidden s-clear-search-1">
                                  <svg class="icon-bg icon-ic-close"><use xlink:href="#icon-ic-close"></use></svg>
                               </a>
                            </div>
                         </div>
         
                         <div class="list filter-list">
                            <div class="mb24 display-flex">
            <div class="s-selected hide">
                <span class="s-select-count">
                </span>
                selected
               </div>
            <div class="ml-auto display-flex ">
                <a href="javascript:;" class="s-select-all s-1 mr12 link-no-border link-hover-pill">Select All</a>
                <a href="javascript:;" class="s-select-all s-clear-all s-1 link-no-border link-hover-pill">Clear All</a>
            </div>
        </div>
                            <ul class="mod-autocomplete-filter s-isolate-scroll s-multi-select-container s-multi s-1" data-columnindex="1" id="">
                    
                    <li class="mb4" data-order="0">
                        <div class="cp-custom-input">
                            <input type="checkbox" id="Inactive_0_1" data-value="Inactive" name="filter-1" value="Inactive">
                            <label for="Inactive_0_1">
                                <span class="checkbox-input"></span>
                                <span class="label wrap_text s-label">Inactive</span>
                            </label>
                        </div>
                    </li></ul>
                         </div>
                      </div>
                      <div class="filter-footer">
                         <div class="display-flex">
                            <a href="https://on.eviivo.com/suite/businesscutoff#" class="btn btn-secondary s-cancel">Cancel</a>
                            <a href="https://on.eviivo.com/suite/businesscutoff#" class="btn ml-auto s-apply">
                                Apply
                                <span class="spinner small-spinner no-background light-spinner active s-spinner spinner_inline hide">
                                    <span class="spin"></span>
                                </span>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
            </div></th><th class="update-status cp-table_text-center sorting" data-key="UpdateStatus" tabindex="0" aria-controls="eviivo-list-cutoff" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"></th><th class="cp-table_text-right cp-table_sticky-column-right actions-1 sorting_disabled" rowspan="1" colspan="1" aria-label=""></th></tr>
    </thead>
    <tbody><tr class="inactive s-row-0-40305 odd" data-id="0-40305"><td class="  desc">None</td><td class="  status">Inactive</td><td class="  update-status cp-table_text-center"></td><td class="   cp-table_text-right cp-table_sticky-column-right actions-1"><a href="https://on.eviivo.com/suite/cutoff/edit/0-40305" class="s-listing-table-edit cp-table_action cp-table_action-item " data-id="0-40305"><svg class=" icon-ic-notes"><use href="#icon-ic-notes"></use></svg></a></td></tr></tbody>

                        </table><div class="cp-table_footer"></div></div>
 

</div>

@code {

}
